<h2>Notes</h2>
<div>
    <button (click)="setShowAll(!showAll)">
        show {{showAll ? 'important' : 'all'}}
    </button>
</div>
<div>
    <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput type="text" #searchFilterBox name="searchFilterBox" (input)="setSearchString(searchFilterBox.value)" />
        <button mat-button *ngIf="searchFilterBox.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchFilterBox.value = ''; setSearchString('')">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
<ul>
    <li *ngFor="let note of notesToShow">
        <app-note-detail [note]="note" (noteChanged)="update($event)" (noteDeletd)="deleteNote($event)"></app-note-detail>
    </li>
</ul>
<div>
    <label>New note:
        <input #newNoteContents />
    </label>
    <button (click)="add(newNoteContents.value); newNoteContents.value=''">
        add
    </button>
</div>
<div>
    {{notes.length}} notes in total.
</div>