<h2>Notes</h2>
<div>
    <button (click)="setShowAll(!showAll)">
        show {{showAll ? 'important' : 'all'}}
    </button>
</div>
<div>
    <label>Search:
        <input #searchFilterBox (input)="setSearchString(searchFilterBox.value)" />
    </label>
</div>
<ul>
    <li *ngFor="let note of notesToShow">
        <app-note-detail [note]="note" (noteChanged)="update($event)"></app-note-detail>
    </li>
</ul>
<div>
    <label>New note:
        <input #newNoteContents />
    </label>
    <button (click)="add(newNoteContents.value); newNoteContents.value=''">
        add
    </button>
</div>
<div>
    {{notes.length}} notes in total.
</div>