<div class="content">
    <h2>Notes</h2>
    <div class="search-row">
        <div>
            <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput type="text" #searchFilterBox name="searchFilterBox" (input)="setSearchString(searchFilterBox.value)" />
                <button mat-button *ngIf="searchFilterBox.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchFilterBox.value = ''; setSearchString('')">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div>
            <mat-slide-toggle [checked]="showAll" (toggleChange)="setShowAll(!showAll)">Show all</mat-slide-toggle>
        </div>
    </div>
    <div>
        <app-new-note-form (noteAdded)="add($event)"></app-new-note-form>
    </div>
    <mat-divider></mat-divider>
    <div>
        {{notes ? notes.length : 0}} notes in total. Showing {{notesToShow ? notesToShow.length : 0}} notes.
    </div>
    <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let note of notesToShow" cdkDrag>
            <app-note-detail [note]="note" (noteChanged)="update($event)" (noteDeleted)="deleteNote($event)"></app-note-detail>
        </div>
    </div>
</div>